#popup-container {
    display: none;
    position: absolute;
    max-width: 500px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
    border-radius: 5px;
}

#popup-container .loaded-content {
    display: none;
    padding: 5px 15px;
}

#popup-container .error {
    display: none;
}

#popup-container h2 {
    font-size: 18px;
    font-weight: bold;
}

#popup-container li {
    font-size: 14px;
}

#popup-container .example {
    font-style: italic;
    font-size: small;
    margin-top: 5px;
}

#popup-container .loadmore {
    display: none;
    width: 100%;
    border: 0;
    opacity: 0.4;
    padding: 5px;
    cursor: pointer;
}

#popup-container .loadmore:hover {
    opacity: 0.8;
}

#detected-language {
    font-size: 10px;
    margin-left: 2px;
}

.tab {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    flex: 1;
    border-color: lightgray;
    border-style: solid;
    border-width: 0 1px 0 0;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

.tab button:last-of-type {
    border-right: 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.flex {
    display: flex;
}